default:
  test: false
  selection:
    signal:
      recoil: 250    # min
      dijet:
        shape_based:
          mass: 200
          dphi: 1.5
          deta: 1
        cut_based:
          mass: 1300
          dphi: 1.5
          deta: 4
      leadak4:
        pt: 80   # min
        eta: 4.7  # max
        nhf: 0.8  # max
        chf: 0.1  # min
      trailak4:
        pt: 40   # min
        eta: 4.7  # max
        nhf: 0.8  # max
        chf: 0.1  # min
      mindphijr : 0.5 # min
      dpfcalo : 0.5 # max
    control:
      doublemu:
        mass:
          min: 60
          max: 120
      doubleel:
        mass:
          min: 60
          max: 120
      singlemu:
        mt : 9999
      singleel:
        mt: 9999
        met: 80
  ak4:
    jer: true
  ak8:
    jer: true
  met:
    jer: true
  tau:
    cuts:
      pt: 20
      eta: 2.3
    branch:
      id: Tau_idDecayModeNewDMs
      iso: Tau_idDeepTau2017v2p1VSjet
    gencheck: True
  photon:
    cuts:
      loose:
        pt: 15
        eta: 2.5
      tight:
        pt: 230
        pttrig: 230
    branch: # No eta cut here bc we use "isScEtaEB"
      id: Photon_cutBasedBitmap
      idv7: Photon_cutBased
  muon:
    cuts:
      tight:
        pt : 20
        eta : 2.4
        iso : 0.15
      loose:
        pt : 10
        eta : 2.4
        iso : 0.25
  electron:
    cuts:
      tight:
        pt : 40
        eta : 2.5
      loose:
        pt : 10
        eta : 2.5
        dxy: # https://twiki.cern.ch/twiki/bin/view/CMS/CutBasedElectronIdentificationRun2
          barrel: 0.05
          endcap: 0.10
        dz: # https://twiki.cern.ch/twiki/bin/view/CMS/CutBasedElectronIdentificationRun2
          barrel: 0.10
          endcap: 0.20
    branch:
      id: Electron_cutBased
  btag:
    pt: 20
    eta: 2.5
  overlap:
    electron:
      muon:
        clean: true
        dr: 0.3
    photon:
      muon:
        clean: true
        dr: 0.3
      electron:
        clean: true
        dr: 0.3
    tau:
      muon:
        clean: true
        dr: 0.4
      electron:
        clean: true
        dr: 0.4
    ak4:
      muon:
        clean: true
        dr: 0.4
      electron:
        clean: true
        dr: 0.4
      photon:
        clean: true
        dr: 0.4
    btag:
      muon:
        clean: false
        dr: 0.4
      electron:
        clean: false
        dr: 0.4
      photon:
        clean: false
        dr: 0.4
  mitigation:
    hem: True

  sf:
    qcd_ew_nlo_w: # QCD x EW k factor for QCD Z
      histogram: kfactor_monojet_qcd_ewk
      file: data/sf/theory/merged_kfactors_wjets.root
    qcd_ew_nlo_z: # QCD x EW k factor for QCD Z
      histogram: kfactor_monojet_qcd_ewk
      file: data/sf/theory/merged_kfactors_zjets.root
    ewk_nlo_w: # EW k factor for QCD W
      histogram: kfactor_monojet_ewk
      file: data/sf/theory/merged_kfactors_wjets.root
    ewk_nlo_z: # EW k factor for QCD Z
      histogram: kfactor_monojet_ewk
      file: data/sf/theory/merged_kfactors_zjets.root
    ewk_nlo_g: # EW k factor for QCD photon
      histogram: kfactor_monojet_ewk
      file: data/sf/theory/merged_kfactors_gjets.root
    qcd_nlo_z_ewk: # QCD k factor for EWK Z
      histogram: TH2F_kFactor
      file: data/sf/theory/kFactor_ZToNuNu_pT_Mjj.root
    qcd_nlo_w_ewk: # QCD k factor for EWK W
      histogram: TH2F_kFactor
      file: data/sf/theory/kFactor_WToLNu_pT_Mjj.root
    qcd_nlo_w_2017_2d: # 2D QCD k factor for QCD W
      histogram: 2d_wjet_vbf
      file: data/sf/theory/2017_gen_v_pt_qcd_sf.root
    qcd_nlo_z_2017_2d: # 2D QCD k factor for QCD Z
      histogram: 2d_dy_vbf
      file: data/sf/theory/2017_gen_v_pt_qcd_sf.root
    qcd_nlo_znn_2017_2d: # 2D QCD k factor for QCD Z
      histogram: kfactors_shape/kfactor_vbf
      file: data/sf/theory/2Dkfactor_VBF_znn.root
    qcd_nlo_g_2017_2d: # 2D QCD k factor for QCD photon
      histogram: 2d_gjets_vbf
      file: data/sf/theory/vbf_photon_kfac_simple.root
    unc_zoverw_nlo_muf_down:
      histogram: z_over_w_facScaleDown 
      file: data/sf/theory/unc/zoverw_scale_unc.root
    unc_zoverw_nlo_muf_up:
      histogram: z_over_w_facScaleUp
      file: data/sf/theory/unc/zoverw_scale_unc.root
    unc_zoverw_nlo_mur_down:
      histogram: z_over_w_renScaleDown
      file: data/sf/theory/unc/zoverw_scale_unc.root
    unc_zoverw_nlo_mur_up:
      histogram: z_over_w_renScaleUp
      file: data/sf/theory/unc/zoverw_scale_unc.root
    unc_zoverw_nlo_pdf_down:
      histogram: z_over_w_pdfDown 
      file: data/sf/theory/unc/zoverw_pdf_unc.root
    unc_zoverw_nlo_pdf_up:
      histogram: z_over_w_pdfUp 
      file: data/sf/theory/unc/zoverw_pdf_unc.root
    unc_goverz_nlo_muf_down:
      histogram: g_over_z_facScaleDown 
      file: data/sf/theory/unc/goverz_scale_unc.root
    unc_goverz_nlo_muf_up:
      histogram: g_over_z_facScaleUp
      file: data/sf/theory/unc/goverz_scale_unc.root
    unc_goverz_nlo_mur_down:
      histogram: g_over_z_renScaleDown
      file: data/sf/theory/unc/goverz_scale_unc.root
    unc_goverz_nlo_mur_up:
      histogram: g_over_z_renScaleUp
      file: data/sf/theory/unc/goverz_scale_unc.root
    unc_goverz_nlo_pdf_down:
      histogram: g_over_z_pdfDown 
      file: data/sf/theory/unc/goverz_pdf_unc.root
    unc_goverz_nlo_pdf_up:
      histogram: g_over_z_pdfUp 
      file: data/sf/theory/unc/goverz_pdf_unc.root
    unc_w_ewkcorr_overz_common_up:
      histogram: w_ewkcorr_overz_Upcommon
      file: data/sf/theory/unc/wtoz_unc.root
    unc_w_ewkcorr_overz_common_down:
      histogram: w_ewkcorr_overz_Downcommon
      file: data/sf/theory/unc/wtoz_unc.root
    pileup:
      mode: nano
    diele_id_sf:
      use_average: False
    dimuo_id_sf:
      use_average: False

  run:
    sync: False
    save:
      passing: False
      tree: False
    kinematics:
      save: False
      events:
        - 36533896
        - 35733274
        - 35719982
        - 30682767
        - 79123963
        - 51393664
    trigger_study: False
    btag_study: False
    apply_categorized_sf: True
  triggers:
    ht:
      gammaeff:
      - HLT_PFHT1050
      - HLT_PFHT590
      - HLT_PFHT680
      - HLT_PFHT780
      - HLT_PFHT890

env:
  test: false

global:
  test: false


era2016:
  triggers:
    met:
      - HLT_PFMETNoMu120_PFMHTNoMu120_IDTight
    electron:
      single:
        - HLT_Ele35_WPTight_Gsf
        - HLT_Ele115_CaloIdVT_GsfTrkIdT
      single_backup:
        - HLT_Photon200
    muon:
      single:
        - HLT_IsoMu27
    photon:
      single:
        - HLT_Photon200
  btag:
    algo: csvv2
    wp: medium
    cuts:
      deepcsv: # https://twiki.cern.ch/twiki/bin/viewauth/CMS/BtagRecommendation2016Legacy
        loose : 0.2217
        medium: 0.6321
        tight: 0.8953
      csvv2:
        loose:  0.5426
        medium: 0.8484
        tight: 0.9535
  electron:
    branch:
      id: Electron_cutBased_Sum16
  photon:
    branch:
      id: Photon_cutBased
  tau:
    branch:
      id: Tau_idDecayModeNewDMs
      iso: Tau_idDeepTau2017v2p1VSjet
  sf:
    deepcsv:
      file: data/sf/btag/DeepCSV_102XSF_WP_V1.csv
    ele_reco:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2017_egammaEffi_txt_EGM2D_runBCDEF_passingRECO.root
    ele_id_loose:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2017_ElectronWPVeto_Fall17V2_BU.root
    ele_id_tight:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2017_ElectronTight_Fall17V2_BU.root

    photon:
      usetnp: False
    photon_id_tight:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2017_PhotonsMedium_capped.root
    photon_csev: # https://twiki.cern.ch/twiki/bin/view/CMS/EgammaIDRecipesRun2#Electron_Veto_CSEV_or_pixel_seed
      histogram: Tight_ID
      file: data/sf/egamma/CSEV_ScaleFactors_2017.root

    muon_id_loose:
      histogram: NUM_LooseID_DEN_genTracks_pt_abseta
      file: data/sf/muon/2017_RunBCDEF_SF_ID.root
    muon_id_tight:
      histogram: NUM_TightID_DEN_genTracks_pt_abseta
      file: data/sf/muon/2017_RunBCDEF_SF_ID.root
    muon_iso_tight:
      histogram: NUM_TightRelIso_DEN_TightIDandIPCut_pt_abseta
      file: data/sf/muon/2017_RunBCDEF_SF_ISO.root
    muon_iso_loose:
      histogram: NUM_LooseRelIso_DEN_LooseID_pt_abseta
      file: data/sf/muon/2017_RunBCDEF_SF_ISO.root
    tau_id:
      histogram: tau_sf_VLoose_2016_cent
      file: data/sf/tau/tau_sf.root
    tau_id_up:
      histogram: tau_sf_VLoose_2016_up
      file: data/sf/tau/tau_sf.root
    tau_id_dn:
      histogram: tau_sf_VLoose_2016_down
      file: data/sf/tau/tau_sf.root
    pileup:
      histogram: "sf2017_nominal"
      file: "data/sf/pileup/pileup.root"
    pileup_up:
      histogram: "sf2017_up"
      file: "data/sf/pileup/pileup.root"
    pileup_down:
      histogram: "sf2017_down"
      file: "data/sf/pileup/pileup.root"
    trigger_met:
        histogram: 120pfht_mu_recoil_1m_2017_all
        file: data/sf/trigger/trig_sf_vbf.root
    trigger_electron:
      histogram: EGamma_SF2D
      file: data/sf/trigger/electron_trigger_sf_2017.root
    trigger_electron_eff_data:
      histogram: EGamma_EffData2D
      file: data/sf/trigger/electron_trigger_sf_2017.root
    trigger_electron_eff_mc:
      histogram: EGamma_EffMC2D
      file: data/sf/trigger/electron_trigger_sf_2017.root

  filters:
    data:
      - Flag_goodVertices
      - Flag_globalSuperTightHalo2016Filter
      - Flag_HBHENoiseFilter
      - Flag_HBHENoiseIsoFilter
      - Flag_EcalDeadCellTriggerPrimitiveFilter
      - Flag_BadPFMuonFilter
      - Flag_eeBadScFilter
      - Flag_ecalBadCalibFilterV2
    mc:
      - Flag_goodVertices
      - Flag_globalSuperTightHalo2016Filter
      - Flag_HBHENoiseFilter
      - Flag_HBHENoiseIsoFilter
      - Flag_EcalDeadCellTriggerPrimitiveFilter
      - Flag_BadPFMuonFilter
      - Flag_ecalBadCalibFilterV2


era2017:
  triggers:
    met:
      - HLT_PFMETNoMu120_PFMHTNoMu120_IDTight # 40.658837867 fb-1
      - HLT_PFMETNoMu120_PFMHTNoMu120_IDTight_PFHT60
    electron:
      single:
        - HLT_Ele35_WPTight_Gsf
        - HLT_Ele115_CaloIdVT_GsfTrkIdT
      single_backup:
        - HLT_Photon200
    muon:
      single:
        - HLT_IsoMu27
    photon:
      single:
        - HLT_Photon200
  filters:
    data:
      - Flag_goodVertices
      - Flag_globalSuperTightHalo2016Filter
      - Flag_HBHENoiseFilter
      - Flag_HBHENoiseIsoFilter
      - Flag_EcalDeadCellTriggerPrimitiveFilter
      - Flag_BadPFMuonFilter
      - Flag_eeBadScFilter
      - Flag_ecalBadCalibFilterV2
    mc:
      - Flag_goodVertices
      - Flag_globalSuperTightHalo2016Filter
      - Flag_HBHENoiseFilter
      - Flag_HBHENoiseIsoFilter
      - Flag_EcalDeadCellTriggerPrimitiveFilter
      - Flag_BadPFMuonFilter
      - Flag_ecalBadCalibFilterV2

  btag:
    algo: deepcsv
    wp: medium
    cuts:
      csvv2: # https://twiki.cern.ch/twiki/bin/viewauth/CMS/BtagRecommendation94X
        loose : 0.5803
        medium : 0.8838
        tight : 0.9693
      deepcsv: # https://twiki.cern.ch/twiki/bin/viewauth/CMS/BtagRecommendation94X
        loose : 0.1522
        medium: 0.4941
        tight: 0.8001
  sf:
    deepcsv:
      file: data/sf/btag/DeepCSV_94XSF_WP_V4_B_F.csv
    ele_reco:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2017_egammaEffi_txt_EGM2D_runBCDEF_passingRECO.root

    ele_reco_pt_lt_20:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2017_egammaEffi_txt_EGM2D_runBCDEF_passingRECO_lowEt.root

    ele_id_loose:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2017_ElectronWPVeto_Fall17V2_BU.root

    ele_id_tight:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2017_ElectronTight_Fall17V2_BU.root

    photon:
      usetnp: True
    photon_id_tight:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2017_PhotonsMedium_capped.root
    photon_id_tight_tnp:
      histogram: photon_medium_id_sf_2017
      file: data/sf/egamma/photon_medium_id_sf_v0.root
    photon_id_tight_tnp_extrap_unc_slope:
      histogram: photon_medium_id_extrap_unc_2017
      file: data/sf/egamma/photon_medium_id_sf_v0.root
    photon_csev: # https://twiki.cern.ch/twiki/bin/view/CMS/EgammaIDRecipesRun2#Electron_Veto_CSEV_or_pixel_seed
      histogram: Tight_ID
      file: data/sf/egamma/CSEV_ScaleFactors_2017.root

    muon_id_loose:
      histogram: NUM_LooseID_DEN_genTracks_pt_abseta
      file: data/sf/muon/2017_RunBCDEF_SF_ID.root
    muon_id_tight:
      histogram: NUM_TightID_DEN_genTracks_pt_abseta
      file: data/sf/muon/2017_RunBCDEF_SF_ID.root
    muon_iso_tight:
      histogram: NUM_TightRelIso_DEN_TightIDandIPCut_pt_abseta
      file: data/sf/muon/2017_RunBCDEF_SF_ISO.root
    muon_iso_loose:
      histogram: NUM_LooseRelIso_DEN_LooseID_pt_abseta
      file: data/sf/muon/2017_RunBCDEF_SF_ISO.root
    tau_id:
      histogram: tau_sf_2017_central
      file: data/sf/tau/tau_sf_deepTau.root
    tau_id_up:
      histogram: tau_sf_2017_up
      file: data/sf/tau/tau_sf_deepTau.root
    tau_id_dn:
      histogram: tau_sf_2017_down
      file: data/sf/tau/tau_sf_deepTau.root

    pileup:
      histogram: "sf2017_nominal"
      file: "data/sf/pileup/pileup.root"
    pileup_up:
      histogram: "sf2017_up"
      file: "data/sf/pileup/pileup.root"
    pileup_down:
      histogram: "sf2017_down"
      file: "data/sf/pileup/pileup.root"

    trigger_met:
      histogram: 120pfht_mu_recoil_1m_2017_all
      file: data/sf/trigger/trig_sf_vbf.root
    trigger_electron:
      histogram: EGamma_SF2D
      file: data/sf/trigger/electron_trigger_sf_2017.root
    trigger_electron_eff_data:
      histogram: EGamma_EffData2D
      file: data/sf/trigger/electron_trigger_sf_2017.root
    trigger_electron_eff_mc:
      histogram: EGamma_EffMC2D
      file: data/sf/trigger/electron_trigger_sf_2017.root

    ak4_em_frac_sf_pos_endcap:
      histogram: sf_pos_endcap_2017
      file: data/sf/ak4/jet_id_sf_for_endcaps.root
    ak4_em_frac_sf_neg_endcap:
      histogram: sf_neg_endcap_2017
      file: data/sf/ak4/jet_id_sf_for_endcaps.root

era2018:
  triggers:
    met:
      - HLT_PFMETNoMu120_PFMHTNoMu120_IDTight # 59.735969368 fb-1
      - HLT_PFMETNoMu120_PFMHTNoMu120_IDTight_PFHT60
    electron:
      single:
        - HLT_Ele32_WPTight_Gsf
        - HLT_Ele115_CaloIdVT_GsfTrkIdT
      single_backup:
        - HLT_Photon200
    muon:
      single:
        - HLT_IsoMu24
    photon:
      single:
        - HLT_Photon200
  filters:
    data:
      - Flag_goodVertices
      - Flag_globalSuperTightHalo2016Filter
      - Flag_HBHENoiseFilter
      - Flag_HBHENoiseIsoFilter
      - Flag_EcalDeadCellTriggerPrimitiveFilter
      - Flag_BadPFMuonFilter
      - Flag_eeBadScFilter
      - Flag_ecalBadCalibFilterV2
    mc:
      - Flag_goodVertices
      - Flag_globalSuperTightHalo2016Filter
      - Flag_HBHENoiseFilter
      - Flag_HBHENoiseIsoFilter
      - Flag_EcalDeadCellTriggerPrimitiveFilter
      - Flag_BadPFMuonFilter
      - Flag_ecalBadCalibFilterV2

  btag:
    algo: deepcsv
    wp: medium
    cuts:
      deepcsv: # https://twiki.cern.ch/twiki/bin/viewauth/CMS/BtagRecommendation102X
        loose : 0.1241
        medium: 0.4184
        tight: 0.7527
  sf:
    deepcsv:
      file: data/sf/btag/DeepCSV_102XSF_WP_V1.csv

    ele_reco:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2018_egammaEffi_txt_EGM2D_updatedAll.root

    ele_id_loose:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2018_ElectronWPVeto_Fall17V2_BU.root

    ele_id_tight:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2018_ElectronTight_Fall17V2_BU.root

    photon:
      usetnp: True
    photon_id_tight:
      histogram: EGamma_SF2D
      file: data/sf/egamma/2018_PhotonsMedium_capped.root
    photon_id_tight_tnp:
      histogram: photon_medium_id_sf_2018
      file: data/sf/egamma/photon_medium_id_sf_v0.root
    photon_id_tight_tnp_extrap_unc_slope:
      histogram: photon_medium_id_extrap_unc_2018
      file: data/sf/egamma/photon_medium_id_sf_v0.root
    photon_csev: # https://twiki.cern.ch/twiki/bin/view/CMS/EgammaIDRecipesRun2#Electron_Veto_CSEV_or_pixel_seed
      histogram: Tight_ID
      file: data/sf/egamma/CSEV_ScaleFactors_2017.root # TODO: Update to 2018 when available!

    muon_id_loose:
      histogram: NUM_LooseID_DEN_TrackerMuons_pt_abseta
      file: data/sf/muon/2018_RunABCD_SF_ID.root
    muon_id_loose_stat:
      histogram: NUM_LooseID_DEN_TrackerMuons_pt_abseta_stat
      file: data/sf/muon/2018_RunABCD_SF_ID.root
    muon_id_loose_syst:
      histogram: NUM_LooseID_DEN_TrackerMuons_pt_abseta_syst
      file: data/sf/muon/2018_RunABCD_SF_ID.root
    muon_id_tight:
      histogram: NUM_TightID_DEN_TrackerMuons_pt_abseta
      file: data/sf/muon/2018_RunABCD_SF_ID.root
    muon_id_tight_stat:
      histogram: NUM_TightID_DEN_TrackerMuons_pt_abseta_stat
      file: data/sf/muon/2018_RunABCD_SF_ID.root
    muon_id_tight_syst:
      histogram: NUM_TightID_DEN_TrackerMuons_pt_abseta_syst
      file: data/sf/muon/2018_RunABCD_SF_ID.root
    muon_iso_tight:
      histogram: NUM_TightRelIso_DEN_TightIDandIPCut_pt_abseta
      file: data/sf/muon/2018_RunABCD_SF_ISO.root
    muon_iso_tight_stat:
      histogram: NUM_TightRelIso_DEN_TightIDandIPCut_pt_abseta_stat
      file: data/sf/muon/2018_RunABCD_SF_ISO.root
    muon_iso_tight_sys:
      histogram: NUM_TightRelIso_DEN_TightIDandIPCut_pt_abseta_syst
      file: data/sf/muon/2018_RunABCD_SF_ISO.root
    muon_iso_loose:
      histogram: NUM_LooseRelIso_DEN_LooseID_pt_abseta
      file: data/sf/muon/2018_RunABCD_SF_ISO.root
    muon_iso_loose_stat:
      histogram: NUM_LooseRelIso_DEN_LooseID_pt_abseta_stat
      file: data/sf/muon/2018_RunABCD_SF_ISO.root
    muon_iso_loose_sys:
      histogram: NUM_LooseRelIso_DEN_LooseID_pt_abseta_syst
      file: data/sf/muon/2018_RunABCD_SF_ISO.root
    tau_id:
      histogram: tau_sf_2018_central
      file: data/sf/tau/tau_sf_deepTau.root
    tau_id_up:
      histogram: tau_sf_2018_up
      file: data/sf/tau/tau_sf_deepTau.root
    tau_id_dn:
      histogram: tau_sf_2018_down
      file: data/sf/tau/tau_sf_deepTau.root
    pileup:
      histogram: "sf2018_nominal"
      file: "data/sf/pileup/pileup.root"
    pileup_up:
      histogram: "sf2018_up"
      file: "data/sf/pileup/pileup.root"
    pileup_down:
      histogram: "sf2018_down"
      file: "data/sf/pileup/pileup.root"

    trigger_met:
      histogram: 120pfht_mu_recoil_1m_2018_all
      file: data/sf/trigger/trig_sf_vbf.root
    trigger_electron:
      histogram: EGamma_SF2D
      file: data/sf/trigger/electron_trigger_sf_2018.root
    trigger_electron_eff_data:
      histogram: EGamma_EffData2D
      file: data/sf/trigger/electron_trigger_sf_2018.root
    trigger_electron_eff_mc:
      histogram: EGamma_EffMC2D
      file: data/sf/trigger/electron_trigger_sf_2018.root

    ak4_em_frac_sf_pos_endcap:
      histogram: sf_pos_endcap_2018
      file: data/sf/ak4/jet_id_sf_for_endcaps.root
    ak4_em_frac_sf_neg_endcap:
      histogram: sf_neg_endcap_2018
      file: data/sf/ak4/jet_id_sf_for_endcaps.root
